<h1>Calendar#show</h1>
<p>Find me in app/views/calendar/show.html.erb</p>

  <p>
  <strong>Summary:</strong>
  <%= @calendar.summary %>
</p>
 
<p>
  <strong>StartTime:</strong>
  <%= @calendar.starttime %>
</p>

